<p>
    With information on nearly 10,000 different charities, Hopeline is primary source for researching, finding, and and organizing charitable giving. 
    With nonprofits from Toledo to Zimbabwe represented, we help people connect with the nonprofits that they care about and give them the tools needed to ensure
    their gifted dollars go where they want them to.
</p>
<p>
    While you're welcome to search through the charities listed and even narrow your search by the categories you are most interested in, 
    the real power of Hopeline is in saving and retrieving your selected categories and charities. To do this, simply log in with your Google account, 
    Hopeline works with Google authentication to ensure your information is secure. At that point your profile page will update whenever you save
    a charity or favorite category.
</p>
<p>
    Hopeline makes researching a new charity easy. Click the informational icon on any charity and a page will come up with relavent information including a star rating,
    financial breakdown, and mission statement. From there it's a simple matter to contact the charity or go to their website if you would like more information.
</p>