<div class="wrapper-main">

    <!-- Home Section -->
    <section id="home">
        <div class="jumbotron jumbotron2">
            <div class="container text-center">
                <h2 id="loginprompt">Please Log In With A Button Below To View Page</h2>
                <br>
                <br>
                <a class="google-btn" href="/auth/google">Google+</a>
            </div>
        </div>
        <div class="browse-fdr-category">
            <div class="dna-grid-container">
                <section class="dna-grid-row categories">
                    
                    </main>
                </section>
            </div>
        </div>
    </section>
</div>