.list-group-item {
  line-height: 2.5;
}

.list-group-item {
  line-height: 2.5;
}

#icon {
  margin-right: 20px;
  margin-left: 25px;
}

#iconText {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  font-size: 35px;
  font-weight: bold;
  color: lightseagreen;
  margin-right: 40px;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border-width: 2px;
  background-color: darkgray;
}

.navbar {
  margin-bottom: 0;
}

.med {
  font-size: medium;
}

.jumbotron {
  background-image: url(../assets/images/hands.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  border-bottom: 3px solid gray;
  position: relative;
}

#giveButton {
  color: lightseagreen;
  border-color: lightseagreen;
  width: 20%;
  font-size: x-large;
  /* margin-top: 34%; */
  border-radius: 25px;
  font-weight: bold;
  background-color: lightgray;
  position: absolute;
  bottom: 10%;
}

#giveButton:hover {
  background-color: gray;
}

.fundingTag {
font-size: large;
border-style: solid;
border-radius: 15px;
color: lightseagreen;
padding: 2px;
margin: 20px;
}

.fa {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
}

.dna-grid-row {
  align-content: center;
  text-align: center;
}

.card-group {
  margin-top: 30px;
}
/* oauth */
body{
  font-family: arial;
  margin: 0;
  font-size: small;
}
nav{
  background: #ff5353;
  padding: 20px 10px;
}
nav ul{
  max-width:960px;
  margin:0 auto;
  padding:0;
}
nav li{
  list-style-type: none;
  display:inline-block;
  margin: 0 10px 0 0;
}
nav a{
  color: #fff;
  font-size: 18px;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
  padding: 10px;
  display: block;
}
main,header{
  max-width: 960px;
  margin: 30px auto;
  padding: 0 10px;
  color:#333;
}
.google-btn{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  background: #ff5353;
}




/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 300px; /* Full width */
  height: 300px; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#programRatio{
  font-size: 100px;
  color: #20B2AA;
  font-weight: bold;
}
#fundraisingExpenseRatio{
  font-size: 100px;
  color: #6120B2;
  font-weight: bold;
}
#administrationExpensesRatio{
  font-size: 100px;
  color: #B22028;
  font-weight: bold;
}
.expTag{
  font-size: medium;
  font-weight: bold;
}
.definitions{
  font-weight: bold;
}
.center{
  text-align: center;
}
.charityBtn{
  margin: 1%;
}

/* 76672A */
/* 8C625B */
/* E5C3A0 */
/* 463E26 */
/* 20B2AA */

/* #6120B2 97,32,178*/
/* #B22028 178,32,40*/
/* #20B2AA 32,178,170*/
/* #71B220 113,178,32*/

/* #2071B2 32,113,178 */
/* #B22071 178,32,113*/