.list-group-item {
  line-height: 2.5;
}

.list-group-item {
  line-height: 2.5;
}

#icon {
  margin-right: 20px;
  margin-left: 25px;
}

#iconText {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  font-size: 35px;
  font-weight: bold;
  color: lightseagreen;
  margin-right: 40px;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border-width: 2px;
  background-color: darkgray;
}

.navbar {
  margin-bottom: 0;
}

.med {
  font-size: medium;
}

.jumbotron {
  background-image: url(../assets/images/hands.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  border-bottom: 3px solid gray;
}

#giveButton {
  color: lightseagreen;
  border-color: lightseagreen;
  width: 20%;
  font-size: x-large;
  margin-top: 34%;
  border-radius: 25px;
  font-weight: bold;
  background-color: lightgray;
}

#giveButton:hover {
  background-color: gray;
}

.fundingTag {
font-size: large;
border-style: solid;
border-radius: 15px;
color: lightseagreen;
padding: 2px;
margin: 20px;
}

.fa {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
}

.dna-grid-row {
  align-content: center;
  text-align: center;
}

.card-group {
  margin-top: 30px;
}
