.list-group-item {
  line-height: 2.5;
}

.list-group-item {
  line-height: 2.5;
}

#icon {
  margin-right: 20px;
  margin-left: 25px;
}

#iconText {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  font-size: 35px;
  font-weight: bold;
  color: lightseagreen;
  margin-right: 40px;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border-width: 2px;
  background-color: darkgray;
}

.navbar {
  margin-bottom: 0;
}

.med {
  font-size: medium;
}

#loginprompt {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  font-size: 35px;
  font-weight: bold;
  color: rgb(92, 238, 231);
  margin-right: 40px;
}

.jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  border-bottom: 3px solid gray;
  position: relative;
}

.jumbotron1 {
  background-image: url(../assets/images/hands.jpg);
}

.jumbotron2 {
  background-image: url(../assets/images/hands-blank.jpg);
}

#giveButton {
  color: lightseagreen;
  border-color: lightseagreen;
  width: 20%;
  font-size: x-large;
  /* margin-top: 34%; */
  border-radius: 25px;
  font-weight: bold;
  background-color: lightgray;
  position: absolute;
  bottom: 10%;
}

#giveButton:hover {
  background-color: gray;
}

#savedCharitiesHeader, #savedCharitiesCategories {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  font-size: 35px;
  font-weight: bold;
  color: lightseagreen;
  margin-right: 40px;
}

.dna-h2 {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  font-size: 30px;
  font-weight: bold;
  color: rgb(18, 95, 91);
  margin-right: 40px;
}

.wrapper-header {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  color: lightseagreen;
}

#profileHeader {
  font-size: 35px;
  font-weight: bold;
}

#saveCategory {
font-size: large;
border-radius: 10px;
border-color: rgb(18, 95, 91);
border-width: 2px;
}

.fundingTag {
font-size: large;
border-style: solid;
border-radius: 15px;
color: lightseagreen;
padding: 2px;
margin: 20px;
}

.fa {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
}

.dna-grid-row {
  align-content: center;
  text-align: center;
}

.card-group {
  margin-top: 30px;
}

body{
  font-family: arial;
  margin: 0;
  font-size: small;
}
nav{
  background: #ff5353;
  padding: 20px 10px;
}
nav ul{
  max-width:960px;
  margin:0 auto;
  padding:0;
}
nav li{
  list-style-type: none;
  display:inline-block;
  margin: 0 10px 0 0;
}
nav a{
  color: #fff;
  font-size: 18px;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
  padding: 10px;
  display: block;
}
main,header{
  max-width: 960px;
  margin: 30px auto;
  padding: 0 10px;
  color:#333;
}
.google-btn{
  color: #fff;
  text-decoration: none;
  font-size: 23px;
  padding: 20px;
  background:blue;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  margin-left: auto;
  margin-right: auto;
  width: 300px; /* Full width */
  height: 300px; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: lightseagreen;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 5px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

#modal-text {
  font-size: medium;
  font-weight: bold;
}

/* The Close Button */
.close {
  color: rgb(18, 95, 91);
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#btn-login {
  cursor: pointer;
}

#programRatio{
  font-size: 100px;
  color: #20B2AA;
  font-weight: bold;
}
#fundraisingExpenseRatio{
  font-size: 100px;
  color: #6120B2;
  font-weight: bold;
}
#administrationExpensesRatio{
  font-size: 100px;
  color: #B22028;
  font-weight: bold;
}
.expTag{
  font-size: medium;
  font-weight: bold;
}
.definitions{
  font-weight: bold;
}
.center{
  text-align: center;
}

#info-button {
  font-size: x-small;
}

.charityBtn {
  color: rgb(18, 95, 91);
  border-radius: 10px;
  width: 200px;
  margin: 1%;
}

.definitionText {
  font-size: x-small;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 5px;
}

.definition-container {
  outline: 2px solid rgb(18, 95, 91);
}

#saved-charities-block {
  font-size: x-small;
  max-width: 300px;
  max-height: 500px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  font-size: 20px;
  font-weight: bold;
  color: rgb(18, 95, 91);
  margin-right: 40px;
}

.card-body .card-text{
font-size: small;
}

#info-button {
  font-size: x-small;
}

.card{
font-size: small;
border-color: lightseagreen;
border-width: 2px;
border-radius: 10px;
width: 250px;
margin-bottom: 10px;
}

.card-block {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.card-title {
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  font-size: 15px;
  font-weight: bold;
  color: rgb(18, 95, 91);
}

.stars {
  height: 13px;
}

.fa {
  margin-top: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > div[class*='col-'] {
 display: flex;
}

.charityName {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: bold;
  color: rgb(18, 95, 91);
}

.title {
  color: rgb(18, 95, 91);
  font-size: medium;
  font-style: italic;
}

.spacing {
  margin-bottom: 20px;
}

.charityBtn {
  color: rgb(18, 95, 91);
  border-radius: 10px;
  width: 200px;
}

.definitionText {
  font-size: x-small;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 5px;
}

.definitions {
  font-size:small;
  font-style: italic;
  color: rgb(18, 95, 91);
}

.definition-container {
  outline: 2px solid rgb(18, 95, 91);
}

#definition-title {
  font-size: medium;
  color:rgb(18, 95, 91);
  font-weight: bold;
}

#recommended-caused {
color:rgb(18, 95, 91);
margin-left: 50px;
font-style: oblique;
margin-top: 40px;
}

#cause-name {
  color: lightseagreen;
}